html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.react-reveal {
  min-width: 100%;
}
.react-reveal.section-title {
  letter-spacing: 7px !important;
}
